body{
    background-image: url("bg.jpg");
    /* 
    Setting the size explicitly in pixels works but might look differently on different devices. 
    You can try setting background-size to be cover or contain for a more responsive web page
    */
    background-size: 1067px 853px;
}

iframe{
    width: 100%;
    /* Try using the px unit (which relates to the screen) rather than cm (which relates to the printed page) */
    height: 5cm;
    border: none;
}

/* 
    You might want to add a .rankhover selector and add a margin-bottom 
    to it instead of using <br> in your html 
*/

/* 
    Seems like you're trying to center this content with position absolute and px values. 
    This works on certain viewport sizes but it won't always be in the middle. For example, on a phone that's 480px wide, 
    the content will be offscreen. 
    This would be a good spot to use flexbox. You can set the container to be positioned absolute and span across the whole
    page (100vh height and 100vw width), and then have an html element inside of it that's centered vertically and horizontally!
*/
.rank{
    display: none;
    position: absolute;
    top: 200px;
    left: 600px;
}

/* Nice secret content! */
.rankhover:hover + .rank{
    display: block;
}

/* See my comment above about using flexbox. You can position this content with flexbox so the design is more responsive */
.data{
    display: none;
    position: absolute;
    top: 300px;
    left: 200px;
    /* Try using px or rem (which relate to the screen) for font size */
    font-size: 100pt;
}

.datahover:hover + .data{
    display: block;
}

/* See my comment above about using flexbox. You can position this content with flexbox so the design is more responsive */
.mind{
    display: none;
    position: absolute;
    top: 300px;
    left: 200px;
    font-size: 100pt;
}

.mindhover:hover + .mind{
    display: block;
}
